<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.io.ellipse">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application
        android:name=".EllipseApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        android:networkSecurityConfig="@xml/network_security_config">

        <activity
            android:name=".presentation.splash.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoToolbar"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.login.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoToolbar" />

        <activity
            android:name=".presentation.main.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Ellipse" />

        <activity
            android:name=".presentation.note.NoteActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoToolbar" />

        <activity
            android:name=".presentation.bluetooth.device.DeviceActivity"
            android:label="@string/title_search_devices"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Ellipse" />

        <provider
            android:name="androidx.work.impl.WorkManagerInitializer"
            android:authorities="${applicationId}.workmanager-init"
            tools:node="remove" />

        <service
            android:name=".service.BluetoothReceiverService"
            android:singleUser="true"
            android:stopWithTask="false" />
    </application>

</manifest>